{% extends "taban.html" %}
{% block icerik %}

<!-- Üst Menü -->
<div class="header header-fixed header-logo-center">
    <a href="#" class="header-title">@KekikAkademi</a>
    <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-chevron-left"></i></a>
    <a href="#" data-menu="menu-main" class="header-icon header-icon-4"><i class="fas fa-bars"></i></a>
    <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-dark"><i class="fas fa-sun"></i></a>
    <a href="#" data-toggle-theme class="header-icon header-icon-3 show-on-theme-light"><i class="fas fa-moon"></i></a>
</div>

<!-- Alt Menü -->
<div id="footer-bar" class="footer-bar-6">
    <a href="/giris_yap" class="active-nav"><i class="fa fa-layer-group"></i><span>Giriş Yap</span></a>
    <a href="#"><i class="fa fa-file"></i><span>Kürek</span></a>
    <a href="/" class="circle-nav"><i class="fa fa-home"></i><span>AnaSayfa</span></a>
    <a href="#"><i class="fa fa-camera"></i><span>Tarak</span></a>
    <a href="#" data-menu="menu-main"><i class="fa fa-bars"></i><span>Menü</span></a>
</div>

<!-- İçerik Alanı -->
<div class="page-content">
    <div data-card-height="cover" class="card mb-0" style="background-image:url({{ url_for('static', filename='images/pictures/1l.jpg') }})">
        <div class="card-center">
            <div class="text-center">
                <p class="font-600 color-highlight mb-1 font-16">Hadi Başlayalım</p>
                <h1 class="font-40 color-white">Oturum Aç</h1>
            </div>
            <div class="content px-4">
                <div class="input-style input-light has-icon input-style-1 input-required">
                    <i class="input-icon fa fa-user"></i>
                    <span>Kullanıcı Adı</span>
                    <em>(gerekli)</em>
                    <input type="name" placeholder="Kullanıcı Adı">
                </div>
                <div class="input-style input-light has-icon input-style-1 input-required">
                    <i class="input-icon fa fa-lock"></i>
                    <span>Şifre</span>
                    <em>(Gerekli)</em>
                    <input type="password" placeholder="Şifre">
                </div>
                <a href="#" data-back-button
                    class="btn btn-full btn-l font-600 font-13 gradient-highlight mt-4 rounded-s">Giriş Yap</a>
                <div class="row pt-3 mb-3">
                    <div class="col-6 text-left font-11">
                        <a class="color-white opacity-50" href="page-forgot-2.html">Şifreni mi Unuttun?</a>
                    </div>
                    <div class="col-6 text-right font-11">
                        <a class="color-white opacity-50" href="page-signup-2.html">Hesap Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-overlay bg-black opacity-85"></div>
    </div>
</div>

{% endblock %}